#Options +FollowSymlinks
# Turn rewrite engine on
RewriteEngine on
# Cors
Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Access-Control-Allow-Origin"
Header always set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"

#POST do LOGIN 
RewriteRule ^login index.php?url=login [L,QSA]

#Empresa 
RewriteRule ^empresas/([0-9]+) index.php?url=empresas&id=$1 [L,QSA]
RewriteRule ^empresas index.php?url=empresas [L,QSA]
